/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

/* Tailwindcss */
@import "tailwindcss";
@theme {
  --font-*: initial;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --text-base: 0.935rem;

  --color-background: hsl(0 0 100%);
  --color-foreground: hsl(0 0 0%);
  --color-surface: hsl(0 0 100%);
  --color-border: hsl(0 0 94%);
  --color-input: hsl(0 0 97%);
  --color-link: hsl(0 0 0%);
  --color-accent: hsl(0 0 40%);
  --color-primary: hsl(0 0 0%);
  --color-primary-foreground: hsl(0 0 96%);
  --color-secondary: hsl(0 0 96%);
  --color-secondary-foreground: hsl(0 0 0%);
}

@layer base {
  * {
    @apply box-border;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply text-base font-normal text-foreground bg-background leading-normal font-sans antialiased;
    font-variation-settings: normal;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
